#pageHeader {
    font-family: "Courier New", 'Times New Roman', sans-serif;
    background-color: lightblue;
    text-align: center;
    margin-left: 500px;
    margin-right: 500px;
    border: 3px solid blue;
}

.active {
    background-color: cornflowerblue;
}

#contactInfo {
    font-family: "Courier New", 'Times New Roman', sans-serif;
    text-align: left;
    background-color: lightgray;
    margin-left: 500px;
    margin-right: 500px;
    border: 1px solid gray;
    font-size: 180%
}

ul {
    font-family: "Courier New", 'Times New Roman', sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li{
    float: left;
}

li a, .dropbtn{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #dddddd;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Layout for Project Pages */
#projectTitle {
    font-family: "Courier New", 'Times New Roman', sans-serif;
    text-align: center;
    font-size: 300%;
}

/*Stat section*/
div.statBox {
    width: 90%;
    overflow: auto;
}

div.statBox div {
    width:10%;
    float: left;
    background-color: lightblue;
    margin-left: 20px;
}

div.statBox div p {
    font-family: "Helvetica", 'Times New Roman', sans-serif;
    text-align: center;
    font-size: inherit;
}

/*Description column*/
.description {
    float: left;
    width: 50%;
    padding-left:40px;
    background-color: lightgray;
    margin-left: 20px;
}

#projectLinks {
    font-family: "Helvetica", 'Times New Roman', sans-serif;
    text-align: left;
    border: 2px solid yellow;
    padding: 5px 5px 5px 5px;
    display: inline-block;
}

#projectDescription {
    font-family: "Helvetica", 'Times New Roman', sans-serif;
    text-align: left;
}

/*Image column*/
.thumbnail {
    float: right;
    width: 40%;
    padding-left: 20px;
}

#projectThumbnail {
    border: 10px solid gray;
}